body {
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
//  background: url("/img/mishka-index-mobile.jpg") no-repeat center top;
//  background: url("/img/mishka-index-mobile_nomenu.jpg") no-repeat center top;
//  background: url("/img/mishka-catalog-mobile.jpg") no-repeat center top;
//  background: url("/img/mishka-form-mobile.jpg") no-repeat center top;
//  background-color: @bg-darkgrey;
//  min-height: 4552px;
  min-height: 2050px;
  padding-top: 1px;
}

@media @tablet-widths {
  body {
    background: url("/img/mishka-index-tablet.jpg") no-repeat center top;
//    background: url("/img/mishka-catalog-tablet.jpg") no-repeat center top;
//    background: url("/img/mishka-form-tablet.jpg") no-repeat center top;
    min-height: 3710x;
//    background-color: @bg-darkgrey;
  }
}

@media @desktop-widths {
  body {
//    background: url("/img/mishka-index-desktop.jpg") no-repeat center top;
//    background: url("/img/mishka-catalog-desktop.jpg") no-repeat center top;
//    background: url("/img/mishka-form-desktop.jpg") no-repeat center top;
    min-height: 3623x;
//    background-color: @bg-darkgrey;
  }
}


