.btn {
  width: 260px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  padding: 16px 0;
  border: 2px solid #444444;

  &:hover {
    color: #ffffff;
    background-color: #444444;
    transition: 0.5s;
  }

  &:active {
    color: #8d8d8d;
  }

  &--reviews {
    margin-top: 38px;
  }

  &--location {
    width: 260px;
    margin: 0 auto;
  }

  &--production-info {
    width: 190px;
    margin: 0 auto;
  }

  &--modal-cart {
    background: none;
  }

  &--form {
    margin-top: 20px;
    background: none;
  }
}

@media @tablet-widths {
  .btn {
    &--reviews {
      position: absolute;
      top: 27px;
      left: 495px;
      width: 170px;
      font-size: 18px;
      line-height: 16px;
    }

    &--production-info {
      width: 585px;
    }

    &--goods-hit {
      width: 290px;
    }

    &--location {
      display: block;
      width: 230px;
      margin-top: 50px;
    }

    &--form {
      order: 1;
      margin-right: 130px;
      width: 230px;
    }
  }
}

@media @desktop-widths {
  .btn {
    &--reviews {
    position: absolute;
    top: 30px;
    left: 875px;
    width: 170px;
    }

    &--location {
      position: absolute;
      top: 510px;
      left: 174px;
      width: 229px;
    }

    &--production-info {
      width: 228px;
      margin-top: 50px;
      margin-top: 45px;
      margin-left: 11px;
    }

    &--goods-hit {
      width: 290px;
    }

    &--form {
      margin-left: 175px;
      margin-right: 130px;
    }
  }
}
