.btn {
  width: 260px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  color: #333333;
  padding: 16px 0;
  border: 2px solid #333333;

  &--reviews {
    margin-top: 38px;
  }

  &--location {
    width: 260px;
    margin: 0 auto;
  }

  &--production-info {
    width: 190px;
  }
}

@media @tablet-widths {
  .btn {
    &--reviews {
      position: absolute;
      top: 27px;
      left: 495px;
      width: 170px;
      font-size: 18px;
      line-height: 16px;
    }

    &--production-info {
      width: 585px;
    }

    &--goods-hit {
      width: 290px;
    }

    &--location {
      display: block;
      width: 230px;
      margin-top: 50px;
    }
  }
}

@media @desktop-widths {
  .btn {
    &--reviews {
    position: absolute;
    top: 40px;
    left: 880px;
    width: 170px;
    }

    &--location {
      position: absolute;
      top: 560px;
      left: 225px;
    }

    &--production-info {
      width: 228px;
    }
  }
}
