.catalog {
//  padding-bottom: 120px;
//  min-height: 275px;
  min-height: 178px;
//  background-image: url(../img/hero-mobile@1x.jpg);
//  background-repeat: no-repeat;
//  background-position: 50% 30%;
}

.catalog__title {
  font-family: "Verdana", sans-serif;
  font-sizes: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}


.catalog__inner {
  .container();
  outline: 2px dashed blue;
  padding-bottom: 55px;
}

.catalog__title {
  padding-top: 65px;
  font-family: "Verdana", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;

  &--form {
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 27px;
    line-height: 30px;
    color: #333333;
  }

}

@media @tablet-widths {
  .catalog__title--form {
    font-size: 43px;
    line-height: 50px;
  }
}

@media @desktop-widths {
  .catalog__title--form {
    font-size: 53px;
    line-height: 57px;
  }
}


