.contact {
  font-family: "Open Sans", "Arial", sans-serif;
}

.contact__title {
  display: block;
  padding-top: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contact__mail {
  padding-top: 10px;
  font-size: 15px;
  color: #333333;
}

.contact__adress {
  padding-top: 40px;
  font-size: 15px;
  line-height: 30px;
  color: #333333;
  outline: 1px dotted red;
}

.contact__adress span {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}



