.contact {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}

.contact__title {
  display: block;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  padding-top: 20px;
  font-size: 18px;
  line-height: 30px;
}

.contact__mail {
  position: relative;
  padding-top: 5px;
//  outline: 1px dotted blue;
}

.contact__mail span {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contact__mail a {
  position: relative;
  padding-left: 25px;
  text-decoration: none;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  &::before {
    position: absolute;
    content: "";
    top: 25px;
    width: 182px;
    height: 1px;
    background: #46c1ae;
    opacity: 0.6;
  }

  &:hover::before {
    opacity: 1;
    transition: 0.4s;
  }
}

.contact__mail a:hover {
  color: #46c1ae;
  transition: 0.4s;
}

.contact__mail a:active {
  color: #46c1ae;
  transition: 0.4s;
  opacity: 0.4;
}

.contact__adress {
  padding-top: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
//  outline: 1px dotted red;
}

.contact__adress span {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}

@media @tablet-widths {
  .contact__title {
    position: relative;
    padding-top: 90px;
    font-size: 43px;
    line-height: 50px;
    &::after {
      position: absolute;
      top: 80px;
      left: 618px;
      content: "";
      width: 51px;
      height: 85px;
      background: url("../img/icon-flag.svg") no-repeat;
    }
  }

  .contact__mail {
    margin-top: 5px;
    margin-right: 45px;
    display: inline-block;
    vertical-align: top;
  }

  .contact__mail span {
    font-size: 17px;
    margin-right: -5px;
  }

  .contact__mail a {
    font-size: 17px;

    &::before {
    width: 202px;
    height: 1px;
    }
  }

  .contact__adress {
    margin-top: -22px;
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    width: 334px;
  }

  .contact__adress br {
    display: none;
  }

  .contact__adress span:nth-child(2) {
    width: 185px;
    margin-left: -3px;
  }
}

@media @desktop-widths {
  .contact {
    float: left;
    width: 350px;
    margin-left: 175px;
    margin-top: 80px;
  }

  .contact__title {
    margin-top: 58px;
    margin-left: -5px;
    font-size: 53px;
    line-height: 53px;
    &::after {
      top: 76px;
      left: -107px;
    }

  }

  .contact__mail {
    display: block;
    margin-top: -10px;
  }

  .contact__adress {
    display: block;
    margin-top: 0;
  }

//  .contact__adress br {
//    display: none;
//  }

  .contact__adress span:nth-child(2) {
    width: 215px;
  }
}



