.form__fieldset {
  border: none;
}

.form__inner {
  .container();
  outline: 2px dashed red;
}

.form__input {
  outline: 1px dotted red;
}

.form__title {
  margin-right: 135px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}

.form__description {
  margin-top: -10px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  outline: 2px dashed blue;
}

.form__fieldset--type {
  padding-bottom: 90px;
  outline: 2px dashed blue;
  margin-bottom: 20px;
}


.form__fieldset--color {
  padding-bottom: 250px;
  outline: 2px dashed blue;
  margin-bottom: 20px;
}

.form__fieldset--personal {
  padding-bottom: 140px;
  outline: 2px dashed blue;
  margin-bottom: 30px;
}

.form__fieldset--phone {
  padding-bottom: 30px;
  outline: 2px dashed blue;
  margin-bottom: 40px;
}

.form__fieldset--mail {
  outline: 2px dashed blue;
  margin-bottom: 50px;
}

.form__fieldset--extra {
  padding-bottom: 100px;
  outline: 2px dashed blue;
  margin-bottom: 20px;
}

.form__submessage {
  outline: 2px dashed blue;
}

@media @tablet-widths {
  .form {
    margin-bottom: -10px;
  }

  .form__description {
    margin-top: 85px;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }


  .form__flex {
    display: flex;
    flex-direction: row;
  }

  .form__fieldset--type {
    padding-bottom: 60px;
    margin-bottom: 35px;
  }

  .form__fieldset--color {
    padding-bottom: 150px;
  }

  .form__item--color {
    display: inline-block;
  }

  .form__fieldset--personal {
    padding-bottom: 130px;
    margin-bottom: 20px;
  }

  .form__fieldset--phone {
    padding-bottom: 70px;
    margin-bottom: 30px;
  }

  .form__fieldset--mail {
    padding-bottom: 70px;
    padding-bottom: 30px;
  }

  .form__fieldset--extra {
    padding-bottom: 150px;
    margin-bottom: 45px;
  }

  .form__fieldset--color .form__items {
    outline: 2px dashed aqua;
  }

  .form__item {
    width: 200px;
    vertical-align: top;
    outline: 2px dashed green;

    &--color {
      min-height: 56px;
      margin: 0;
    }
  }

  .form__submessage {
    order: 2;
  }
}

@media @desktop-widths {
  .form__description {
    margin-top: 140px;
    margin-bottom: 30px;
  }

  .form__fieldset--type {
    padding-bottom: 120px;
    outline: 2px dashed blue;
    margin-bottom: 20px;
    display: block;
  }

  .form__fieldset--color {
    padding-bottom: 130px;
    outline: 2px dashed blue;
  }

  .form__fieldset--personal {
    margin-bottom: 40px;
  }

  form__fieldset--mail {
    padding-bottom: 20px;
  }

  .form__fieldset--extra {
    margin-bottom: 85px;
  }

  .form__items {
    margin-left: 175px;
    width: 875px;
    outline: 2px dashed aqua;
  }

  .form__item {
    min-width: 262px;

  }

}
