.goods {
  direction: flex;
  flex-direction: column;
}
.goods__inner {
  .container();
}

.goods__img img {
  display: block;
}

.goods__item {
  display: flex;
  flex-direction: column;
  min-height: 366px;
  margin-bottom: 29px;
  width: 258px;
  border: 1px solid #ececec;
//  border: 1px solid black;
  padding-bottom: 5px;
}

.goods__title a {
  display: block;
  width: 215px;
  margin-left: 27px;
  margin-top: 28px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}


.goods__title a:last-child {
  color: red;
}

.goods__description {
  margin-left: 27px;
  margin-top: -16px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 209px;
  border-bottom:  1px solid #ececec;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  color: #333333;
}

.goods__price {
  margin-left: 28px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.goods__cart a {
  position: relative;
  font-size: 0;
}

.goods__cart a::after {
  position: absolute;
  content: "";
  top: -38px;
  left: 211px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-cart.svg");
  opacity: 0.2;
}

@media @tablet-widths {
  .goods {
    margin-top: 95px;
  }

  .goods__item {
    flex-direction: row;
    justify-content: space-between;
    align-content:stretch;
    width: 666px;
    min-height: 334px;
    padding: 0;
    margin: 0;
    margin-bottom: 52px;

  }

  .goods__title a {
    display: block;
    width: 265px;
    margin-top: 25px;
    margin-left: 25px;
    font-size: 20px;
    line-height: 24px;
  }

  .goods__description {
    margin-top: -15px;
    margin-right: 45px;
    padding-bottom: 175px;
    width: 274px;
    font-size: 15px;
    line-height: 30px;
  }

  .goods__item:nth-child(3) {
    height: 334px;
    border:  1px solid #ececec;
  }

  .goods__item:nth-child(3) .goods__description {
    padding-bottom: 152px;
  }

  .goods__price  {
    margin-left: 31px;
    margin-top: 1px;
    font-size: 17px;
    line-height: 24px;
  }

  .goods__cart a::after {
    top: -39px;
    left: 280px;
//    opacity: 0.2;
  }
}


@media @desktop-widths {
  .goods {
    margin-top: 95px;
  }

  .goods__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .goods__item {
    flex-direction: column;
    width: 315px;
    margin-right: 40px;
  }

//  .goods__item:last-child {
//    margin-right: 0;
//  }


  .goods__item img {
    float: none;
//    width: 315px;
//    height: 454px;
  }

  .goods__item-content {
    float: none;
  }

  .goods__order {
    margin-top: 20px;
  }
}
