.goods {
  direction: flex;
  flex-direction: column;
}
.goods__inner {
  .container();
}

.goods__img img {
  display: block;
//  margin-top: -5px;
}

.goods__item {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  min-height: 263px;
  margin-bottom: 28px;
  width: 258px;
//  outline: 2px dashed green;
//  border:  1px solid #ececec;
  border:  1px solid black;
  padding-bottom: 5px;
}


.goods__title {
  min-width: 160px;
}

.goods__title a {
  margin-left: 30px;
  margin-bottom: 20px;
  width: 200px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
//  line-height: 24px;
  color: #000000;
  text-decoration: none;
//  outline: 1px dotted red;
}


.goods__title a:last-child {
  width: 175px;
  margin-left: 30px;
}

.goods__description {
  margin-left: 27px;
  margin-top: -16px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 209px;
  border-bottom: 1px solid black;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  color: #333333;
//  outline: 1px dotted red;

}

.goods__price {
  margin-left: 28px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
//  outline: 1px dotted red;
}

.goods__cart a {
  position: relative;
  font-size: 0;
}

.goods__cart a::after {
  position: absolute;
  content: "";
  top: -38px;
  left: 211px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-cart.svg");
  opacity: 0.2;
}



@media @tablet-widths {
  .goods {
    margin-top: 75px;
  }

  .goods__item {
    flex-direction: row;
    justify-content: space-between;
    min-height: 334px;
    padding-bottom: 1px;
    margin-bottom: 50px;
  }

  .goods__title a {
    display: block;
    margin-top: 25px;
    font-size: 20px;
    line-height: 24px;
  }

//  .goods__item img {
//    float: left;
//  }

  .goods__item-content {
//    float: right;
    margin-right: 50px;
  }

  .goods__order {
    margin-top: 180px;
  }

  .goods__description {
    font-size: 15px;
    line-height: 30px;
  }
}


@media @desktop-widths {
  .goods {
    margin-top: 95px;
  }

  .goods__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .goods__item {
//    display: inline-block;
//    vertical-align: top;
    flex-direction: column;
    width: 315px;
    margin-right: 40px;
  }

  .goods__item:last-child {
    margin-right: 0;
  }

  .goods__item img {
    float: none;
    width: 315px;
    height: 454px;
  }

  .goods__item-content {
    float: none;
  }

  .goods__order {
    margin-top: 20px;
  }
}
