.intro {
  margin-top: -25px;
  margin-bottom: 310px;
  min-height: 283px;
  background-color: #f9f9f9;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 573px auto;
//  border-top: 1px solid black;
  border-top: 1px solid #ececec;

  @media @retina {
  background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.intro__inner {
  .container();
//  outline: 2px dashed blue;
}

.intro__title {
  display: block;
  padding-top: 45px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 27px;
  text-align: center;
  line-height: 30px;
  color: #000000;
}

@media @tablet-widths {
  .intro__inner {
    position: relative;

  }

  .intro {
    z-index: -1;
    margin-bottom: 0;
//    margin-top: -103px;
    margin-top: 5px;
    position: relative;
    min-height: 735px;
    background-color: #f8f8f8;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% -5px;
    background-size: 1150px auto;

    &::after {
      z-index: 0;
      content: "";
      position: absolute;
      bottom: -22px;
      left: 0;
      width: 100%;
      height: 36px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x;
      background-size: contain;
//      transform: rotate(180deg);
    }
  }


  .intro__title {
    margin-top: 1px;
    padding-top: 150px;
    font-size: 43px;
    line-height: 50px;
  }

  .intro__title br {
    display: none;
  }
}

@media @tablet-widths and @retina {
  .intro {
    background-image: url("../img/hero-desktop@2x.jpg");
  }
}

@media @desktop-widths {
  .intro__inner {
//    min-height: 535px;
  }

  .intro {
    margin-top: 5px;
    margin-bottom: 0;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px auto;
  }

  .intro__title {
    margin-top: 9px;
    margin: 0 auto;
    width: 700px;
    font-size: 53px;
    line-height: 57px;
    text-align: center;
    z-index: 10;
  }
}

@media @retina and @desktop-widths {
  .intro {
    background-image: url("../img/hero-desktop@2x.jpg");
    background-size: 1150px auto;
  }
}


