.location {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: -40px;
    height: 34px;
    width:100%;
    background-image: url("/img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
  }
}

.location__inner {
  position: relative;
  .container();
//  outline: 2px dashed green;
}

.location__map  {
//  background: url("../img/map-mobile@1x.jpg") no-repeat center top;
  position: relative;
  width: 320px;
  margin-left: -30px;
  margin-top: 25px;
  margin-bottom: 45px;
//  outline: 1px dotted black;

  &::after {
    position: absolute;
    content: "";
    left: 124px;
    top: 165px;
    width: 73px;
    height: 102px;
    background-image: url(../img/icon-map-pin.svg);
    background-repeat: no-repeat;
   }
}

@media @tablet-widths {
  .location {
    &::before {
      top: 0;
    }
  }

  .location__map {
    position: relative;
    margin-top: 25px;
    width: 768px;
    margin-left: -50px;

    &::after {
      left: 347px;
    }
  }
}

@media @desktop-widths {
  .location {
    &::before {
      top: 50px;
    }
  }

  .location__inner {
    .clearfix();
  }

  .location__map {
    float: right;
    width: 525px;
    margin-top: 150px;
    &::after {
      left: 237px;
    }
  }
}

