.location__inner {
  .container();
  outline: 2px dashed green;
}


.location__map  {
//  background: url("../img/map-mobile@1x.jpg") no-repeat center top;
  margin-left: -30px;
  margin-top: 25px;
  margin-bottom: 40px;
}

