.logo {
//  min-height: 79px;
  display: block;
  width: 86px;
  height: 35px;
  margin: 0 auto;
  padding-top: 20px;
//  outline: 1px solid red;

  &--footer {
    display: none;
  }
}

.logo__link {
  &:hover {
    opacity: 0.6;
    transition: 0.4s;
  }

  &:active {
    opacity: 0.3;
    transition: 0.4s;
  }
}

//.logo img {
//  display: block;
//  width: 86px;
//  height: 35px;
//  margin: 0 auto;
//  padding-top: 20px;
//}

@media @tablet-widths {
  .logo {
    margin: 0;
    margin-top: -35px;
    width: 113px;
    height: 46px;
    order: 0;

    &--footer {
      width: 102px;
      height: 34px;
      display: block;
      float: left;
      margin-right: 155px;
      margin-top: 55px;
      background-image: url(../img/logo-footer.svg);
      background-repeat: no-repeat;
    }

    &--footer:hover {
      background-image: url(../img/logo-footer-green.svg);
      background-repeat: no-repeat;
      transition: 0.4s;
    }

    &--footer:active {
      background-image: url(../img/logo-footer-green.svg);
      background-repeat: no-repeat;
      transition: 0.4s;
      opacity: 0.4;
    }
  }
}

@media @desktop-widths {
  .logo {
//    margin: 0;
    margin-top: -40px;
    margin-left: -40px;
    width: 149px;
    height: 72px;
    order: 2;

//    position: absolute;
//    left: 450px;
//    top: 10px;

    &--footer {
      display: block;
      float: left;
      margin: 0;
      margin-right: 300px;
      margin-top: 55px;
      position: static;
      }
  }
}
