.main-nav {

  outline: 1px dashed blue;
  min-height: 316px;

  &__list {
    list-style: none;
  }

  &__link {
//    padding-left: 75px;
//    padding-top: 28px;
//    padding-bottom: 28px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
  }

  &__user-list {
    list-style: none;
  }

  &__item {
//    padding-top: 28px;
    padding-bottom: 28px;
  }

  &__item:nth(n+2) {
    display: none;
  }

}

@media @tablet-widths {
  .main-nav {
    min-height: 103px;
    margin: -60px;
    padding: 0;
  }
}

@media @desktop-widths {
  .main-nav {
    min-height: 152px;
    margin: 0;
    padding: 0;
  }
}
