.page-header {
  min-height: 79px;
  margin-bottom: -10px;
//  padding-bottom: 395px;
}

.page-header__inner {
  .container();
  outline: 2px dashed black;
}

.page-header__delivery {
  display: none;
}

@media @tablet-widths {
  .page-header {
    padding-top: 2px;
    height: 89px;
  }
//
//  .page-header__logo {
//    order: 0;
//  }

  .page-header__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .page-header__delivery {
    margin-top: -25px;
    display: block;
    width: 250px;
//    position: absolute;
//    left: 420px;
    outline: 2px dashed red;
    order: 4;
   }
}

@media @desktop-widths {
  .page-header__inner {
    position: relative;
    padding-top: 2px;
    min-height: 89px;
  }

  .page-header__delivery {
    order: 5;
  }
}
