.page-footer {
  min-height: 161px;
  margin-top: 40px;
//  background-color: #f1f1f1;
}

.page-footer__inner {
  .container();
//  outline: 2px dashed green;
//  padding-top: -20px;
  padding-bottom: 30px;
}

.page-footer__link {
  position: relative;
  min-width: 130px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;

  &:active {
    transition: 0.4s;
    opacity: 0.3;
  }

  &--academy::before {
    position: absolute;
    content: "";
    top: -23px;
    left: -35px;
    width: 260px;
    border-top: 1px solid #e5e5e5;
    }

  &--academy::after {
    position: absolute;
    content: "";
    top: -1px;
    left: 160px;
    width: 27px;
    height: 34px;
    background-image: url("../img/logo-htmlacademy.svg");
    background-repeat: no-repeat;
    opacity: 0.75;
  }

    &--academy:hover::after {
      opacity: 1;
      transition: 0.4s;
    }

    &--academy:active::after {
      opacity: 0.6;
      transition: 0.4s;
    }
}

.page-footer__copyright {
  margin-top: 35px;
  width: 160px;
  margin-left: 35px;
//  outline: 1px solid red;
}

@media @tablet-widths {
  .page-footer {
    min-height: 143px;
    margin-top: 55px;
  }

  .page-footer__inner {
    .clearfix();
    padding-bottom: 0;
  }

  .page-footer__copyright {
    float: right;
    margin-top: 65px;
    margin-right: 25px;
  }

  .page-footer__link {

    &--academy::before {
      display:none;
    }
  }

//  .page-footer__inner {
//    padding-bottom: 40px;
//  }
}


@media @desktop-widths {
  .page-footer__inner {
    padding-bottom: 0;
  }
}
