.page-footer {
//  min-height: 1057px;
}

.page-footer__inner {
  .container();
  outline: 2px dashed green;
}

.page-footer__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.page-footer__copyright {
  margin-top: 25px;
  width: 160px;
  margin-left: 35px;
  outline: 1px solid red;
}
