.reviews {
  min-height: 630px;
  margin-top: -55px;
}

.reviews__inner {
  .container();
  outline: 2px dashed blue;
  //  padding-bottom: 150px;
}

.reviews__nav {
//  display: inline-block;
  font-size: 0;
//  margin-top: -10px;
//  margin-bottom: 5px;

}

.reviews__prev {
  width: 130px;
  border: none;
  border: 1px solid #ececec;
  background-color: #ffffff;
  margin-top: 27px;
  display: inline-block;
  vertical-align: middle;
//  font-size: 0;
//  width: 56px;
  height: 52px;
  background-image: url(../img/icon-left-arrow.svg);
  background-repeat: no-repeat;
  background-position: 40px 10px;
}

.reviews__next {
  width: 130px;
  border: none;
  border: 1px solid #ececec;
  background-color: #ffffff;
  margin-top: 27px;
  display: inline-block;
  vertical-align: middle;
//  font-size: 0;
//  width: 56px;
  height: 52px;
  background-image: url(../img/icon-right-arrow.svg);
  background-repeat: no-repeat;
  background-position: 30px 10px;
}

.reviews__description {
  display: block;
  text-align: left;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  column-rule: #444444;
  margin: 0;
  outline: 1px dotted red;
}

.reviews__author {
  display: block;
  margin-top: 28px;
  font-family: "Open Sans bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5;
  color: #000000;
}

.reviews__nick {
  display: block;
  margin-top: 5px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
}


@media @tablet-widths {
  .reviews {
    position: relative;
    min-height: 454px;
    margin-top: -260px;


  }

  .reviews__inner {
    position: relative;
    padding-bottom: 50px;

    &::after {
      position: absolute;
      content: "";
      top: -10px;
      left: -50px;
      width: 350px;
      height: 457px;
      background: url("../img/review@1x.jpg");
      z-index: -1;

      @media @retina {
        background: url("../img/review@2x.jpg");
      }
    }

  }

  .reviews__title {
    padding-top: 60px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 43px;
    line-height: 50px;
    color: #000000;
  }

  .reviews__description {
    padding-top: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author {
    display: block;
    margin-top: 60px;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    font-style: normal;
  }

  .reviews__inner {
    position: relative;
  }

  .reviews__nav {
    position: absolute;
    left: 500px;
    top: 320px;
    z-index: 100;
  }

  .reviews__prev {
    width: 70px;
    border: none;
    margin-right: 20px;
    background-position: 50% 50%;
  }

  .reviews__next {
    width: 70px;
    background-position: 50% 50%;
    border: none;
}

  .reviews__item {
//    margin-left: 150px;
  }

  .reviews__nick {
    margin: 0;
    margin-top: 5px;
    font-size: 17px;
    color: #444444;
  }

}

@media @desktop-widths {
  .reviews {
    margin-top: -45px;
  }

  .reviews__inner {
    padding-bottom: 100px;
    &::after {
      left: 0;
    }
  }

  .reviews__item {
    margin-left: 150px;
  }

  .reviews__title {
    margin-top: 55px;
    margin-left: 20px;
    font-size: 53px;
    line-height: 57px;
    }

  .reviews__description {
    width: 775px;
    margin-left: -125px;
    margin-top: -10px;
  }

  .reviews__author {
    margin-left: -125px;
    margin-top: 40px;
  }

  .reviews__nick {
    margin-left: -125px;
  }

  .reviews__nav {
    position: absolute;
    left: 885px;
    top: 270px;
  }
}
