.social-link {
  display: inline-block;
  vertical-align: middle;
//  margin: 0 15px;
  margin: 0;
  margin-right: 40px;

  &--inst {
    width: 24px;
    height: 24px;
    background-image: url(../img/icon-insta.svg);
    background-repeat: no-repeat;
  }

  &--fb {
    width: 20px;
    height: 30px;
    background-image: url(../img/icon-fb.svg);
    background-repeat: no-repeat;
  }

  &--twitter {
    width: 24px;
    height: 24px;
    background-image: url(../img/icon-twitter.svg);
    background-repeat: no-repeat;
  }
}

.social-link:nth-child(3) {
  margin-right: 0;
}
