.social-link {
  display: inline-block;
  vertical-align: top;
//  margin: 0 15px;
//  margin: 0;
  margin-right: 40px;

  &--inst {
    width: 22px;
    height: 21.5px;
    background-image: url(../img/icon-insta.svg);
    background-repeat: no-repeat;
    background-size: cover;
//    background-position: center 0;
  }

  &--inst:hover {
    background-image: url(../img/icon-insta-green.svg);
    background-repeat: no-repeat;
    transition: 0.4s;
  }

  &--inst:active {
    background-image: url(../img/icon-insta-green.svg);
    background-repeat: no-repeat;
    transition: 0.4s;
    opacity: 0.4;
  }

  &--fb {
    width: 18px;
    height: 33px;
    background-image: url(../img/icon-fb.svg);
    background-repeat: no-repeat;
    background-position: -1px 0;
    background-size: cover;
  }

  &--fb:hover {
    background-image: url(../img/icon-fb-green.svg);
    background-repeat: no-repeat;
    transition: 0.4s;
  }

  &--fb:active {
    background-image: url(../img/icon-fb-green.svg);
    background-repeat: no-repeat;
    transition: 0.4s;
    opacity: 0.4;
  }

  &--twitter {
    width: 23.5px;
    height: 20.5px;
    background-image: url(../img/icon-twitter.svg);
    background-repeat: no-repeat;
    background-position: 0 -1px;
//    background-size: cover;
  }

  &--twitter:hover {
    background-image: url(../img/icon-twitter-green.svg);
    background-repeat: no-repeat;
    transition: 0.4s;
  }

  &--twitter:active {
    background-image: url(../img/icon-twitter-green.svg);
    background-repeat: no-repeat;
    transition: 0.4s;
    opacity: 0.4;
  }
}

.social-link:nth-child(3) {
  margin-right: 0;
}

@media @tablet-widths {
  .social-link {
    &--twitter {
      background-position: 0 0;
    }
  }
}
