.social-links {
  width: 160px;
  min-height: 45px;
  margin: 0 auto;
//  padding: 0;
  font-size: 0;
  outline: 1px solid red;
}

@media @tablet-widths {
  .social-links {
    float: left;
    margin-top: 50px;
    margin-right: 50px;
  }
}

