.social-links {
  display: block;
  padding-top: 27px;
  width: 160px;
  min-height: 45px;
    margin: 0 auto;
//  padding: 0;
  font-size: 0;
//  outline: 1px solid red;
}

@media @tablet-widths {
  .social-links {
    float: left;
    display: block;
    margin-top: 40px;
//    margin-right: 40px;
  }
}

